body {
    margin: 0; /* З самого початку прибираються відступи котрі були за замовчуванням  */
    font-family: "Space Grotesk", serif;

    font-size: 15px; /* Розмір шрифту по замовчуванню  */
    line-height: 1.6; /* Міжстроковий відступ  */
    color: #333;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Container  */
.container {
    width: 100%; 
    max-width: 1240px;
    margin: 0 auto; /* Вирівнювання по центру  */
}

/* Intro  */
.intro {
    position: fixed;
    align-items: center;   /* Вирівнювання по вертикалі  */
    justify-content: space-between;   /* Додавання простору між елементами  */
    width: 100%;
    height: 100vh;  /* Займає 100% екрану відвідувача  */
}

.intro__inner{
    padding-right: 108px;
    text-align: left;
    position: fixed;
    top: 200px;
    max-width: 480px;
    max-height: 530px;
    max-width: 50%;  /* Додатково обмежує ширину  */
}

.intro__title{
    margin: 0 0 35px;

    font-size: 60px;
    color: #000000;
}

.intro_subtitle{
    margin: 0 0 35px;

    font-size: 20px;
    color: #000000;
}

.intro__button{ 
    padding: 20px 35px;
    display: inline-block;
    color: #fff;
    background-color: #000000;
    border-radius: 7%;
    transition: .3s;
    cursor: pointer;
}

.intro__button:hover {
    background-color: #fff;
    color: #000000;
    transition: color .2s linear;
}

.intro__img{
    position: absolute;
    top: 200px;
    right: 100px    ;
    max-width: 50%;
    text-align: left;
    margin-left: 108px;
}

.intro__img img{
    max-width: 100%;
}

/* Header  */
.header {
    width: 100%;
    padding-top: 60px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    font-size: 29px;
    font-weight: 700;
    color: #000000;
}

/* Nav  */

.nav{
    font-size: 20px;
}

.nav__link{
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;

    color: #000000;
    text-decoration: none;   /* Прибирає підкреслювання у посилань за замовчування  */
}

.usual {
    display: inline-block;
    border-radius: 14%;
    transition: .3s;
    cursor: pointer;

}

.usual:hover{
    color: #000000;
    background-color: #B9FF66;

    transition: color .2s linear;
}

.button{
    display: inline-block;
    border: 2px solid #000000;
    border-radius: 7%;
    transition: .3s;
    cursor: pointer;
}

.button:hover {
    color: #fff;
    background-color: #000000;
    
    transition: color .2s linear;
}

/* Company  */
.company{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company__item{

}

.company__img{
    display: block;
    max-width: 100%;
    height: auto;
}